.wrapper {
    padding-bottom: 11px;
}

.linksWrapper {
    padding: 11px 0 0 0;
}

.linksWrapper a {
    color: rgba(0,0,0,.54) !important;
    text-decoration: none;

    /*colored*/
    display: inline-block;
    padding: 7px 14px;
    /*background-color: #ffcd4b;*/
    border: 1px solid #ffcd4b;
    color: rgba(0,0,0,.87) !important;
    border-radius: 2px;
}

.header {
    display: flex;
    margin: 24px 0 0 0;
}

.header h1 {
    flex: 2 0;
    margin: 0;
    font-size: 1.3rem;
    color: rgba(0,0,0,.87);
}

.header span {
    color: rgba(0,0,0,.54);
    padding-left: 14px;
    font-size: 1.3rem;
    font-weight: normal;
}