.wrapper {
    padding: 9px;
}

.header {
    display: flex;
    margin: 24px 0 4px 0;
}

.header h1 {
    flex: 2 0;
    margin: 0;
    font-size: 1.2rem;
    color: rgba(0,0,0,.87);
}

.header span {
    color: rgba(0,0,0,.54);
    padding-left: 14px;
    font-size: 1.3rem;
    font-weight: normal;
}

.fetchMore {
    padding: 14px 0;
}

.fetchMore button {
    border: 1px solid #ffcd4b;
    box-shadow: none;
}

.itemsWrapper {
    padding-top: 7px;
}

.genericProductWrapper {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.12);
    padding: 4px 14px;
}

.filtersBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px !important;
    height: 36px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
}

.filtersBtn img {
    margin-right: 7px;
}

.sortWrapper {
    margin-top: 8px;
    padding: 4px 14px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.12);
}