.wrapper {
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.32);
}

.content .header {
    display: flex;
    padding: 0 16px;
}

.content .header .primaryText {
    flex: 2 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .media img {
    display: block;
    background-color: #ccc;
    height: 80px;
    width: 80px;
}

.content .text {
    flex: 2 0;
    /*padding: 24px 16px 0 16px;*/
    padding: 16px 16px 0 16px;
}

.primaryText {
    margin: 0;
    padding: 14px 0;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0,0,0,.87);
}