* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
}

body, button, input, select, textarea {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}