.wrapper {
    display: flex;
    border-bottom: 3px solid #ffcd4b;
}

.wrapper > div {
    flex: 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #424242;
}

.wrapper > div.active {
    background-color: #f6e17b;
}

.wrapper > div > img {
    width: 28px;
    fill: #424242;
}

.wrapper > div > span {
    display: inline-block;
    margin-top: 6px;
    font-size: .85rem;
}