.wrapper {
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.32);
}

.header {
    padding: 16px 16px 8px 16px;
}

.content {
    display: flex;
    padding: 0 16px;
}

.big .content {
    flex-direction: column;
}

.content .media {
    flex: 0 0;
}

.content .media img {
    padding: 0;
    background-color: #ccc;
    height: 80px;
    width: 80px;
}

.big .content .media img {
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}

.content .text {
    flex: 2 0;
    padding-left: 24px;
}

.big .content .text {
    padding-left: 0;
}

.primaryText {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: .85rem;
    font-weight: 600;
    color: #212121;
}

.big .primaryText {
    font-size: 1.2rem;
    font-weight: 400;
}

.secondaryText {
    font-size: .8rem;
    line-height: 1.1rem;
    color: rgba(0,0,0,.54);
}

.actions {
    padding: 0 16px;
}