.price {
    /*display: flex;*/
    padding: 8px 0;
}

.actions {
    display: flex;
    padding: 8px 0;
}

.sum {
    font-size: 1.2rem;
    color: #F57C00;
}

.sumInfo {
    font-size: .8rem;
    line-height: 1.1rem;
    color: rgba(0,0,0,.54);
}

.countBtn {
    background-color: #424242 !important;
    min-width: 32px !important;
}

.byBtnWrapper {
    flex: 2 0;
    display: flex;
    justify-content: flex-end;
}

.byBtn {
    min-width: 100px;
    background-color: #93B93E !important;
    letter-spacing: 1px;
    /*color: #5a7420;*/
    color: #fff;
    text-shadow: 0 1px 1px rgba(255,255,255,.4);
}

.countInput {
    margin: 0 -4px 0 4px;
    width: 40px;
    text-align: center;
    font-size: .9rem;
}

.units {
    display: inline-block;
}

.units span {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    font-size: .8rem;
    border: 1px solid rgba(0,0,0,.12);
    color: rgba(0,0,0,.87);
    border-radius: 2;
    user-select: none;
}

.activeUnits {
    border: 1px solid #F57C00 !important;
}