.wrapper {
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.32);
}

.content {
    display: flex;
    padding-right: 16px;
}

.content .media {
    flex: 0 0 80px;
    padding: 16px 0 0 0;
}

.content .media img {
    /*display: block;*/
    padding: 0;
    background-color: #ccc;
    height: 80px;
    width: 80px;
}

.content .text {
    flex: 2 0;
    /*padding: 24px 16px 0 16px;*/
    padding: 16px 16px 0 16px;
}

.price {
    padding: 8px 16px;
}

.primaryText {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: .85rem;
    font-weight: 600;
    color: #212121;
}

.sum {
    font-size: 1.2rem;
    color: #F57C00;
}

.secondaryText {
    font-size: .7rem;
    color: rgba(0,0,0,.54);
}

.actions {
    display: flex;
    padding: 8px 16px 8px 8px;
}

.countBtn {
    background-color: #424242 !important;
    min-width: 32px !important;
}

.byBtnWrapper {
    flex: 2 0;
    display: flex;
    justify-content: flex-end;
}

.byBtn {
    background-color: #93B93E !important;
    letter-spacing: 1px;
    color: #5a7420;
    text-shadow: 0 1px 1px rgba(255,255,255,.4);
}

.countInput {
    margin: 0 -4px 0 4px;
    width: 40px;
    text-align: center;
    font-size: .9rem;
}