.wrapper {
    padding: 9px;
}

.content {
    padding: 9px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
}

.wrapper h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 300;
}

.wrapper img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}

.wrapper p {
    font-size: .9rem;
    line-height: 1.3rem;
    color: rgba(0,0,0,.87);
}

.wrapper a {
    color: #ffb841;
}

.wrapper a:visited {
    color: #F57C00;
}


.error {
    color: #F44336;
}